<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/landing.css" />
    <link rel="stylesheet" href="/css/showcase.css" />
    <link rel="stylesheet" href="/css/signup.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div id="main">
      <div class="content">
        <div class="logo">
          <img src="./images/Vector(1).svg" alt="Logo..." />
        </div>
        <div class="content-form">
          <% if (!emailExists) { %>
          <p>Complete your profile</p>
          <% } else { %>
          <p>Login with</p>
          <% } %>
          <p class="content-mail">with <span><%= email %></span></p>
          <form
            action="<%= emailExists ? '/login' : '/signup_onboarding' %>"
            method="post"
          >
            <% if (!emailExists) { %>
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                name="name"
                id="full_name"
                oninput="enableButton()"
                placeholder="Enter your Name"
              />
            </div>
            <div class="form-group">
              <label for="mobileno">Mobile Number</label>
              <input
                type="text"
                name="mobileno"
                id="mobile_no"
                oninput="enableButton()"
                placeholder="Enter your mobile no"
              />
            </div>
            <% } %>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Enter password"
              />
            </div>
            <input type="hidden" name="email" value="<%=email %>" />
            <br />
            <% if (!emailExists) { %>
            <button disabled type="submit" name="submit">Continue</button>
            <% } else { %>
            <button type="submit" name="submit">Login</button><br />
            <% } %>
          </form>
          <%if (emailExists) { %>
          <a href="/reset">Forgot your password</a>
          <% } %>
        </div>
      </div>
      <div class="showcase">
        <div class="showcase-content">
          <img src="./images/Vector.svg" alt="Logo..." />
          <h1>“Serving Hope, One Click at a Time."</h1>
        </div>
        <img
          src="./images/decoration.svg"
          class="showcase-left-image"
          alt="Vector1"
        />
        <img
          src="./images/decoration(1).svg"
          class="showcase-right-image"
          alt="Vector2"
        />
      </div>
    </div>

    <script>
      function enableButton() {
        let fullNameInput = document.getElementById("full_name");
        let mobileNoInput = document.getElementById("mobile_no");
        let submitButton = document.querySelector('button[type="submit"]');

        // Regular expression for validating only alphabets
        let alphabetRegex = /^[A-Za-z]+(\s[A-Za-z]+)?$/;

        // Regular expression for validating a 10-digit mobile number
        let mobileNoRegex = /^\d{10}$/;

        if (
          fullNameInput.value.trim() !== "" &&
          alphabetRegex.test(fullNameInput.value) &&
          mobileNoInput.value.trim() !== "" &&
          mobileNoRegex.test(mobileNoInput.value)
        ) {
          submitButton.disabled = false;
        } else {
          submitButton.disabled = true;
        }
      }
    </script>
  </body>
</html>
