<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/landing.css" />
    <link rel="stylesheet" href="/css/showcase.css" />
  </head>
  <body>
    <div id="main">
      <div class="content">
        <div class="logo">
          <img src="./images/Vector(1).svg" alt="Logo..." />
        </div>
        <div class="content-form">
          <p>Signup or Log in</p>
          <form id="emailForm" action="/signup_password" method="post">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="emailInput"
              oninput="enableButton()"
              placeholder="Enter your email..."
            />

            <button id="submitButton" disabled type="submit">
              Continue with email
            </button>
          </form>
        </div>
      </div>
      <div class="showcase">
        <div class="showcase-content">
          <img src="./images/Vector.svg" alt="Logo..." />
          <h1>“Serving Hope, One Click at a Time."</h1>
        </div>
        <img
          src="./images/decoration.svg"
          class="showcase-left-image"
          alt="Vector1"
        />
        <img
          src="./images/decoration(1).svg"
          class="showcase-right-image"
          alt="Vector2"
        />
      </div>
    </div>
    <script>
      function enableButton() {
        let emailInput = document.getElementById("emailInput");
        let submitButton = document.getElementById("submitButton");

        let emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        if (
          emailInput.value.trim() !== "" &&
          emailRegex.test(emailInput.value)
        ) {
          submitButton.disabled = false;
        } else {
          submitButton.disabled = true;
        }
      }
    </script>
  </body>
</html>
