body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.logo img {
  height: 32px;
  margin-top: 16px;
  margin-left: 96px;
}
h1 {
  color: #262b2c;
  font-size: 48px;
  font-weight: 800;
  line-height: 52.8px;
  letter-spacing: -1.92px;
}

p {
  margin-top: 16px;
  color: #898f90;
  font-size: 16px;
  font-weight: 500;
}

.content-container {
  flex-grow: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 560px;
}
