body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 96px;
}
#navbar input[type="image"] {
  width: 32px;
  height: 32px;
}
.card {
  margin: auto;
  margin-top: 50px;
  width: 612px;
}

.card img {
  width: 100%;
  height: 343px;
}

.card-content {
  width: 100%;
  position: relative;
  padding: 16px 0;
  padding-bottom: 24px;
}
.card-content img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  right: 0;
}
.card-content .card-category {
  color: #7a7d7f;
  font-size: 14px;
  font-weight: 700;
}

.card-content h2 {
  color: #21272a;
  font-size: 34px;
  font-weight: 700;
}

.card-content .card-servings {
  color: #898f90;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  margin-top: 8px;
}

.card-button button {
  width: 100%;
  padding: 15px 16px;
  border: none;
  background-color: #dee2e3;
  color: rgb(46, 134, 50);
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card-button button img {
  width: 20px;
  height: 20px;
}

.card-button1 button {
  width: 100%;
  padding: 15px 16px;
  border: none;
  background-color: rgb(0, 80, 92);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
}

@media screen and (max-width: 487px) {
  .logo {
    margin: auto;
  }
  .logo img {
    margin-top: 16px;
    height: 32px;
  }
  .card {
    padding: 8px 16px;
    margin: 0;
    width: 358px;
  }

  .card img {
    width: 100%;
    height: 217px;
  }
  .card-content img {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 0;
  }
  .card-content .card-category {
    font-size: 12px;
  }
  .card-content h2 {
    font-size: 20px;
    font-weight: 700;
  }
  .card-content .card-servings {
    font-weight: 500;
  }
}
