.blur-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 12px);
  height: 100%;
  z-index: 10;
  margin: 6px;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.6);
}
