.content .content-form form {
  margin-top: 40px !important;
  width: 100%;
}

.content .content-form .content-mail {
  display: flex;
  gap: 6px;
  font-size: 14px;
  margin-top: 8px;
}

.content .content-form .form-group {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.content .content-form .content-mail span {
  color: #859293;
}

.content .content-form form button {
  background-color: var(--button-primary);
}

.content .content-form form button:hover {
  background-color: var(--button-primary-hover);
}

.link_button {
  text-decoration: none;
  background-color: var(--button-primary);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 15px 16px;
  margin-top: 18px;
  cursor: pointer;
  width: 100%;
  text-align: center
}

/* for mobile devices */

@media screen and (max-width: 487px) {
  .content .content-form form {
    margin-top: 32px !important;
  }
  .content .content-form label {
    margin-top: 16px;
  }
  .content .logo {
    margin: auto;
    margin-top: 16px;
  }

  .content .content-form .google-login {
    margin-top: 32px;
  }

  .content .content-form .content-form__seprator {
    margin-top: 16px;
  }

  .content .content-form form button[type="submit"] {
    margin-top: 16px;
  }

  .showcase {
    display: none;
  }
}
