<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banner Click Example</title>
    <link rel="stylesheet" href="/css/landing.css" />
    <link rel="stylesheet" href="/css/donator.css" />
  </head>
  <body>
    <div class="logo">
      <img src="./images/Vector(1).svg" alt="Logo..." />
    </div>
    <div class="content-container">
      <h1>Tell us more about yourself</h1>
      <form>
        <div>
          <label for="businessname">Business name</label>
          <input
            type="text"
            name="businessname"
            id="bname"
            placeholder="Enter name of your business"
          />
        </div>
        <div>
          <label for="location" class="label-dark"
            >Please select precise location</label
          >
        </div>
      </form>
      <button type="submit">Continue</button>
    </div>
  </body>
</html>
